:root {
  --blue: rgb(52, 166, 179);
  --transparentblue: rgba(52, 166, 179, 0.6);
  --darkblue: rgb(53, 134, 169);
  --transparentdarkblue: rgba(53, 134, 169, 0.6);
  --red: #8e2727;
  --darkred: #5c0000;
  --yellow: #fff5a7;
  --black: #3a3a3a;
  --darkpurple: #100116;
  --white: #ffffff;
  --color: rgb(47, 115, 187);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif, serif;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
  background-color: black;
}





.grid-container {
  background-image: url("./images/img5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
.main-header {
  display: grid;
  grid-template-columns: 40% repeat(4, 15%);
}
.main-header-title {
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 5px 0px 5px 5px;
  margin: 0;
}
.main-header-btn {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.main-content {
  height: auto;
  width: 100%;
}
.main-content div {
  margin: 0px;
  padding: 20px;
}

.main-content-header {
  text-align: Left;
  font-size: 2rem;
  color: white;
  padding: 10% 10% 2% 10%;
  margin: 0;
}
.links a{
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  padding: 0% 0% 0% 10%;
}
.links {
  list-style-type: none;
}


@media only screen and (max-width: 600px) {
  .bt1 {
    grid-area: btn1;
  }
  .bt2 {
    grid-area: btn2;
  }
  .bt3 {
    grid-area: btn3;
  }
  .bt4 {
    grid-area: btn4;
  }
  .main-header-title{
    grid-area: title;
  }
  .main-header {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 
      "title title title title"
      "btn1 btn2 btn3 btn4";
  }
}
