:root {
  --a: rgba(37, 37, 37,0.9);
  --b: rgb(52, 52, 52);
  --c: rgba(37, 37, 37,0.8);
  --d: rgb(0, 238, 255);
  --e: rgb(25, 25, 25);;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--b);
  color: var(--d);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  height: 100vh; 
}
#header {
  background-color: var(--a);
  box-shadow: 0rem 1rem 3rem 2rem var(--a);
  height: 8vh;
  padding: 1rem;
  font-size: 2vmin;
  text-transform: uppercase;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header div {
  height: 8vh;
  flex-grow: 1;
  display: flex;
  align-items: center;

}
#headerTitle {
  font-size: 2rem;
  padding-left: 1rem;
}

.content {
  padding-top: 3rem;
  padding-bottom: 5rem;
  flex-grow: 1;
}
.contentTitle {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
#projectsFlex {
  display: flex;
  justify-content: center;
}
#projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
#projectsGrid div {
  width: 30vmin;
  height: 30vmin;
  background-color: var(--a);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#projectsGrid div:hover {
  background-color: var(--e);
}

#footer {
  background-color: var(--c);
  min-height: 5vh;
  box-shadow: 0rem 0rem 3rem 3rem var(--c);
  padding: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
